# mongo.conf

systemLog:
  destination: file
  path: "/var/log/mongo/mongod.log"
  logAppend: true

storage:
  dbPath: {{ mongodb_datadir_prefix }}mongo

processManagement:
  fork: true
  pidFilePath: /var/run/mongo/mongod.pid

security:
  authorization: disabled
  #keyFile: {{ mongodb_datadir_prefix }}secret

net:
  port: {{ mongod_port }}
  bindIp: "0.0.0.0"

replication:
  replSetName: "shardreplica01"

sharding:
  clusterRole: shardsvr
